* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    background-color:  #6c8f5e;
    color: #cad1bd;
}
html {
    padding-top: 30px;
    padding-bottom: 30px;
}
header {
    background-color: #7a4a1e;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    margin: 0;
    padding-top: 5px;
    
}
.navigation, a {
    background-color: #7a4a1e;
    text-align: center;
    text-decoration: none;
}
a {
    padding-left: 50px;
    padding-right: 50px;

}
a:hover {
    background-color: #6c8f5e;  
}
figure {
    display: table;
    margin: 20px auto;
    border: 20px solid #7a4a1e;
    border-radius: 25px;
}
figcaption {
    display: table-caption; caption-side: bottom ;
    background-color: #6c8f5e;
    color: #cad1bd;
    font-style: italic;
    font-size: 1.2em;
    padding: 5px;
    text-align: right;
}
footer { 
    background-color: #7a4a1e;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    margin-top: 0;
    padding-top: 5px;
    text-align: center;
}
h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 8px;
    font-size: 3em;
}
h2 {
    text-align: center;
}
section {
    text-align: left;
    margin-left: 47%;
}
form {
    font-size: 1.1em;
    font-weight: 600;
}
input {
    color:#7a4a1e;
}
label {
    display: inline-block !important;
}
#send-hug {
    border: 8px solid #cad1bd;
    border-radius: 15px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/010/473/764/non_2x/cartoon-dog-biscuit-vector.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom; 
    background-blend-mode:multiply;
    font-size: 1.7em;
    color:#cad1bd;    
    font-weight: 800;
    padding: 20px;    
    margin-bottom: 20px;
}